.logo{
   padding: 25px;
}
.main-header{
   display: flex;
   flex-direction: row;
   
}
.header{
   margin:  0px 30% 0px ;
   display: flex;
   flex-direction: row;
   column-gap: 0px;
   margin-top: 40px;
   


}
.one{
   font-size: larger;
   color: white;
   border-radius: 100%;
   border: #6772E5 solid 1px;
   width: 30px;
   text-align: center;
   background-color: #6772E5;
   margin-left: 5px;
  

}
.part-1{
   display: flex;
   flex-direction: column;
   row-gap: 8px;
}
.header .part-1 .heading1{
   color: #6772E5;
   font-size: 12px;
   
   
}
.two{
   font-size: 10px;
   color: white;
   border-radius: 100%;
   border: #6772E5 solid 1px;
   width: 20px;
   text-align: center;
   background-color: #6772E5;
   margin-left: 5px;
}
.part-2{
   display: flex;
   flex-direction: column;
   row-gap: 12px; 
}
.heading2{
   font-size: 10px;

}
.left-arrow{
   font-size: 20px;
   font-weight: bold;
   padding:5px  25px ;
}
.content{
width :95vw;
background-color: white;
height: fit-content;
margin: 5px 30px;
padding: 20px;
}
.content .head{
   font-size: 25px;
   font-weight: bold;
}
.content .main-content{
   display: flex;
   flex-direction: row;
   column-gap: 15px;
}
.content .main-content .sub-content1{
   display: flex;
   flex-direction: column;
   row-gap: 3px;
   border: 1px solid blue;
   padding:3px ;
   border-radius: 5px;
}
.content .main-content .sub-content1 .sub-head span{
   color: blue;
   font-size: 18px;
}
.content .main-content .sub-content1 img{
   padding: 8px 15px;
   width:38vw;
   height: 30vh;
}
.content .main-content .sub-content1 .quantity{
   display: flex;
   flex-direction: row;
   justify-content: center;
   column-gap: 5px;

}
.content .main-content .sub-content1 .quantity span{
   font-weight: bold;
}
.content .main-content .sub-content1 .quantity button{
   border: 1px solid blue;
   font-weight: 600;
   color: blue;
   border-radius: 5px;
}
.content .main-content .sub-content2{
   display: flex;
   flex-direction: column;
   row-gap: 8px;
   
}
.content .main-content .sub-content2 .box-1{
   display: flex;
   flex-direction: row;
   border: 1px solid black;
   border-radius: 8px;
}
.content .main-content .sub-content2 .box-1 .delivery{
   background-color:aliceblue;
   width: 28vw;
   display: flex;
   flex-direction: column;
   border-right:1px solid black ;
   
}
.content .main-content .sub-content2 .box-1 .delivery .date{
   font-size: 24px;
   font-weight: bold;
   color: #2A9918;
   padding: 3px 20px;
}
.content .main-content .sub-content2 .box-1 .delivery .address{
   font-size: 18px;
   font-weight: bold;
   padding: 5px 20px;
}
.content .main-content .sub-content2 .box-1 .delivery  .address-data{
   padding: 5px 20px;
}
.content .main-content .sub-content2 .box-1 .payment{
   display: flex;
   flex-direction: column;
   row-gap: 5px;
   padding-top:20px;
   padding-right:20px;
   padding-left:  20px;
   padding-bottom: 50px;
}
.content .main-content .sub-content2 .box-1 .payment .card-box span{
font-size: 20px;
font-weight: bold;
}
.content .main-content .sub-content2 .box-1 .payment .card-box button{
   border: 1px blue solid;
   color: blue;
   border-radius: 4px;
   margin:  3px 15px;
}
.content .main-content .sub-content2 .box-1 .payment .credit-card{
   height: 17vh;
   width: 19vw;
   display: flex;
   flex-direction: column;
   padding: 20px 30px ;
   background-image: linear-gradient(to top, #6772E5,#d3d6f8);
   border: 1px solid #6772E5;
   border-radius: 5px;
}
.content .main-content .sub-content2 .box-2{
   display: flex;
   flex-direction: column;
   border: 1px solid black;
   border-radius: 8px;
   padding-top: 20px ;
   padding-left: 20px;
   row-gap: 8px;
   
}
.content .main-content .sub-content2 .box-2 .summary{
   font-size: 25px;
   font-weight: bold;
   color:blue
}

.content .main-content .sub-content2 .box-2  .price-row{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
   padding-left: 20px;
   padding-right: 20px;
}
.content .main-content .sub-content2 .box-2  .price-row div{
   font-size: 18px;
   font-weight: 500;
}
.content .main-content .sub-content2 .box-2 .price{
   border: 1px solid gray;
   background-color: #d3d6f8;
}
.content .main-content .sub-content2 .box-2 .total {
   padding-left: 70%;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
   font-size: 25px;
}
.content .main-content .sub-content2 .box-2 .total span{
   font-size: 25px;
   font-weight: bold;
   color: #6772E5;
}
.place{
   padding-left: 88%;
   margin-top: 10px;
}